@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.innerMapContainer {
    display: flex;
    align-items: center;
    height: 102%;

    border: solid black;
    border-radius: 16px;
}

.innerTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2em;
    margin-top: 4px;
    margin-right: 6em;
    height: 100%;
    width: 400px;
}

.innerStatisticsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 400px;
}

.mainGameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-bottom: 0em;
    height: 175px;
    width: 100%;
    margin-top: 1em;
    font-family: 'Poppins', sans-serif;
}

.mapImgList {
    border-radius: 16px;
}

.statusComponent {
    margin-left: 200px;
    margin-top: 8px;
    text-align: center;
}

.playerCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

#title {
    white-space: nowrap;
}

#status {
    width: 25%;
}

#gameMode {
    width: 200px;
    margin: 0;
    margin-left: 8px;
    color: #65CBFF;
}

.innerDataContainer {
    display: flex;
    width: 90%;
    height: 100%;
    border-radius: 16px;
    margin-left: 12px;
    color: white;
    box-shadow: 0 0 0 1px black;
    background-color: #626263;

}

.mostInnerTitleContainer {
    display: flex;
    align-items: center;
}

#loremIpsum {
    font-size: 12px;
    height: 90px;
    width: 400px;
}

#gamedtBtn {
    width: 150px;
    border-radius: 16px;
    background-color: #2E2E2E;
    color: white;
    margin-bottom: 8px;
    border: none;
}

#gamedtBtn:hover {
    background-color: #878787;
}

.elm {
    width: 150px;
}
.alignStats {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dt {
    margin: 0px;
}

#cntr {
    margin: 0px;
}

.dateText {
    margin:0;
    margin-left: 8px;
    margin-right: 32px;
    white-space: nowrap;
}

.playerCountText {
    margin: 0;
    margin-left: 8px;
    white-space: nowrap;
}

