.innerMapContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.innerTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2em;
    margin-top: 4px;
    margin-right: 6em;
    height: 100%;
    width: 400px;
}

.innerStatisticsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 400px;
}

.mainGameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-bottom: 0em;
    height: 175px;
    width: 100%;
    margin-top: 1em;
}

.mapImgList {
    border-radius: 16px;
}

.statusComponent {
    position: relative;
    right: -48px;
    margin-top: 4px;
    background-color: greenyellow;
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    text-align: center;
    border-radius: 16px;
}

.playerCounter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

#title {
    white-space: nowrap;
}

#status {
    width: 200px;
}

#gameMode {
    width: 200px;
    margin: 0;
    margin-left: 8px;
}

.innerDataContainer {
    display: flex;
    width: 90%;
    height: 100%;
    border-radius: 16px;
    margin-left: 12px;
    color: black;
    box-shadow: 0 0 0 1px black;
}

.mostInnerTitleContainer {
    display: flex;
    align-items: center;
}

#loremIpsum {
    font-size: 12px;
    height: 90px;
    width: 400px;
}

#gamedtBtn {
    width: 150px;
    border-radius: 16px;
    background-color: #1b2838;
    color: white;
    margin-bottom: 8px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.elm {
    width: 150px;
}
.alignStats {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dt {
    margin: 0px;
}

#cntr {
    margin: 0px;
}

.dateText {
    margin:0;
    margin-left: 8px;
    margin-right: 32px;
    white-space: nowrap;
}

.playerCountText {
    margin: 0;
    margin-left: 8px;
    white-space: nowrap;
}

