@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.innerMapContainer {
    display: flex;
    align-items: center;
    width: 14.56rem;
    height: 9.88rem;
    border-radius: 16px;
}

.image-tag-gamelist {
    width: 1.0625rem;
    height: 0.9375rem;
}

.mapImgList {
    border-radius: 1rem;
    width: 14.56rem;
    height: 9.88rem;
    border: solid white;
    border-width: 0.1px;
}

.innerTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.38rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    height: 100%;
    width: 70%;
}

.innerTitleContainer p {
    margin: 0;
}

.innerStatisticsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding-right: 1.38rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    height: 100%;
    width: 30%;
}

.mainGameContainer {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 9.88rem;
    width: 100%;
    min-width: 50%;
    font-family: 'Poppins', sans-serif;
}

.statusComponent {
    font-size: 0.875;
    font-weight: bold;
    text-align: right;
    width: 100%;
    margin: 0;
}

.playerCounter {
    height: 1rem;
    margin: 0;
    width: 18.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title {
    font-size: 1.5625rem;
    font-weight: bold;
    line-height:  0.875rem;
    white-space: nowrap;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#status {
    width: 100%;
}

#gameMode {
    width: fit-content;
    margin: 0;
    margin-left: 0.5rem;
    color: #65CBFF;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
}

.innerDataContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    margin-left: 1.5625rem;
    color: white;
    background-color: #303030;
    border: solid white;
    border-width: 0.0625rem;
}

.mostInnerTitleContainer {
    display: flex;
    align-items: center;
}

#loremIpsum {
    margin-top: 0.81rem;
    font-size: 1rem;
    height: 2.1875rem;
    width: 115%;
}

#gamedtBtn {
    margin-top: 1.5rem;
    width: 7.313rem;
    height: 1.875rem;
    font-size: 10px;
    border-radius: 16px;
    background-color: #2E2E2E;
    color: white;
    border: solid #65C8FF;
    border-width: 0.0625rem;
    font-weight: bold;
    font-size: 0.8125rem;
    font-family: 'Poppins', sans-serif;
}

#gamedtBtn:hover {
    background-color: #878787;
}

.elm {
    width: 150px;
}

#dt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 7.5rem;
    height: 0.9375rem;
}

#cntr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 7.5rem;
    height: 0.9375rem;
}

.dateText {
    margin:0;
    text-align: center;
    font-size: 0.8125rem;
    font-weight: bold;
    white-space: nowrap;
    width: min-content;
}

.playerCountText {
    margin: 0;
    font-size: 0.8125rem;
    text-align: right;
    font-weight: bold;
    white-space: nowrap;
    width: min-content;
}


@media only screen and (max-width: 800px) {
    .mapImgList{
        display: none;
        border: none;
    }
    .innerMapContainer{
        border: none;
    }

    .playerCounter{
        width: 6.2rem;
    }
    .alignStats{
        width: 3.75rem;
        margin: 0px 0.125rem;
    }
    .dateText{
        font-size: 0.75rem;
        margin-right: 5.625rem;
        font-weight: 700;
    }
    .image-tag-gamelist{
        width: 0.75rem;
    }
    .playerCountText{
        font-size: 0.75rem;
        margin-left: 0.313rem;
        font-weight: 700;
        padding-right: 1.188rem;
    }
    .innerTitleContainer {
        margin-left: 0.5rem;
        padding-left: 0.375rem;
    }
    #status{
        font-size: 0.75rem;
        width: 40%;
        font-weight: 700;        
    }
    #ctnr {
        margin: 0px 0.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .mainGameContainer{
        width: 20.875rem;
    }
    #gamedtBtn{
        width: 93px;
        font-size: 12px;
        padding: 6px;
    }
    .dateText{
        font-size: 0.75rem;
    }
    .playerCountText{
        font-size: 0.65rem;
    }

    #status{
        font-size: 0.6rem;
    }
    .innerStatisticsContainer{
        height: 90%;
    }

    #title{
        font-size: 0.8rem;
    }
    #gameMode {
        font-size: 0.6rem;
    }


}