.mainLandingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.landingpage-main-contenet{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortByContainer {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

#label {
    margin-right: 8px;
    color: #E8EAEA;
}

.widthConstraint {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.secondaryLandingContainer {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

button.btn.btn-primary {
    background-color: #E8EAEA;
    outline: black;
    color: black;
    border: solid black;
    border-width: 0.1px;
    border-radius: 32px;
}

.endBtn.dropend.btn-group {
    background-color: white;
    border-radius: 32px;
    border: solid black;
}

.dropdown-toggle.btn.btn-primary {
    height: 38px;
}

.horizontalItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-radius: 16px;
    height: 20px;
}

.items {
    border-radius: 16px;
}

.removeUnderline {
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: default;
}

.container-label{
    color: #E8EAEA;
    font-size: 14px;
    margin-bottom: 10px;
}
.container-level-sort-create-game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.landingside-create-game-container{
    padding: 5px;
    border-radius: 100px;
    margin-left: 40px;
    width: 140px;
    height: 40px;
    font-weight: 700;
}

.modal-container {
    display: flex;
    flex-direction: column;
}

.dialog-content-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
    font-weight: 500;
    color: #E8EAEA;
    width: 500px;
    margin: 0px;
    padding: 20px;

}

.texfield{
    background-color: #E8EAEA;
    color: black;
    font-weight: 800;
    padding: 10px;
}
.align-input-label{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.landingpage-label{
    margin-bottom: 12px;
    color: #E8EAEA;
    font-weight: 800;
}

.button-modal-container {
    display: flex;
    flex-direction: row;

}
.modal-button{
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}