.mainLandingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.landingpage-main-contenet{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortByContainer {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

#label {
    margin-right: 8px;
    color: #E8EAEA;
}

.widthConstraint {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.75rem;
}

.secondaryLandingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 200px;
}

button.btn.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8EAEA;
    width: 3.375rem;
    height: 1.875rem;
    outline: black;
    color: black;
    border-radius: 32px;
    font-size: 0.75rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    border-width: 0.0625rem;
    border: solid black;
}

.endBtn.dropend.btn-group {
    background-color: white;
    border-radius: 32px;
    border: solid black;
}

.dropdown-toggle.btn.btn-primary {
    padding: 5px;
    height: 38px;
    width: 1rem;
    height: 1.875rem;
    border-width: 0.0625rem;
    border: solid black;
    border-left: none;
}

.horizontalItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-radius: 16px;
    height: 20px;
}

.items {
    border-radius: 16px;
}

.sortByText {
    color: white;
    margin: 0;
    margin-right: 0.325rem;
    font-size: 0.875rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.removeUnderline {
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: default;
}

.container-label{
    color: #E8EAEA;
    font-size: 14px;
    margin-bottom: 10px;
}
.container-level-sort-create-game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.125rem;
    margin-bottom: 0.4375rem;
}

#crtGmBtn {
    width: 0.9375rem;
    height: 0.9375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingside-create-game-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    white-space: nowrap;
    font-size: 0.75rem;
    padding: 5px;
    border-radius: 100px;
    margin-left: 40px;
    width: 7.75rem;
    height: 1.875rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-width: 0.0625rem;
    border: solid black;
}

.modal-container {
    display: flex;
    flex-direction: column;
}

.dialog-content-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
    font-weight: 500;
    color: #E8EAEA;
    width: 500px;
    margin: 0px;
    padding: 20px;

}

.texfield{
    background-color: #E8EAEA;
    color: black;
    font-weight: 800;
    padding: 10px;
}
.align-input-label{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.landingpage-label{
    margin-bottom: 12px;
    color: #E8EAEA;
    font-weight: 800;
}

.button-modal-container {
    display: flex;
    flex-direction: row;

}
.modal-button{
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}


.toggle-button-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 150px;
}
.toggle-button{
    padding: 5px;
    border-radius: 10px;
    width: 90px;
}

.list-group-container{
    display: flex;
    flex-direction: row;
    color: #E8EAEA;
    list-style: none;
}

.list-group-item{
    padding-right: 10px;
}


/*
@media only screen and (max-width: 1200px) {
    .mainLandingContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
        border: 4px solid red;
    }
  }

  */

  /*

@media only screen and (max-width: 800px) {
    .mainLandingContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        border: 4px solid red;
    }
    .secondaryLandingContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 4px solid greenyellow;
        width: 80%;
    }
  }
  */


  @media only screen and (max-width: 450px){

    .secondaryLandingContainer{
        display: flex;
        justify-content: center;
        margin: 200px ;
    }
    .landing-page-create-game-component{
        border: 2px solid red;
    }



  
    
  }
