.mainLandingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sortByContainer {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: left;
}

#label {
    margin-right: 8px;
}

.widthConstraint {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.secondaryLandingContainer {
    display: flex;
    flex-direction: column;
    background-color: #D3D3D3;
    padding: 1em;
}



button.btn.btn-primary {
    background-color: transparent;
    outline: black;
    color: black;
    border: solid black;
    border-width: 0.1px;
    border-radius: 32px;
}

.endBtn.dropend.btn-group {
    background-color: white;
    border-radius: 32px;
    border: solid black;
}

.sortByContainer .dropdown-toggle.btn.btn-primary {
    height: 38px;
    border: black solid;
    border-width: 0.1px;
    border-left: none;
}

.horizontalItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-radius: 16px;
    height: 20px;
}

.items {
    border-radius: 16px;
}

.removeUnderline {
    text-decoration: none;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: default;
}