@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.alignMiniProfile {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    outline: 0;
}

.fancyName {
    border: solid white;
    border-radius: 16px;
    border-width: 2px;
    padding: 0.25em 2em 0.25em 2em;
    font-size: 16px;
    margin-top: 1em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.fancyNameNotLoggedIn { 
    border: solid white;
    border-radius: 16px;
    border-width: 2px;
    padding: 0.25em 2em 0.25em 2em;
    font-size: 16px;
    margin-top: 1em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.fancyProfilePic {
    width: 50px;
    margin-left: -11px;
    background-color: transparent;
}

@media only screen and (max-width: 1000px) and (orientation: portrait){
    .fancyName {
        font-size: 3.5vw;
        white-space: nowrap;
        display: none;
    }
    
    .fancyNameNotLoggedIn {
        font-size: 3.5vw;
        white-space: nowrap;
        display: none;
    }
}