@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.alignMiniProfile {
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    outline: 0;
}

.fancyName {
    border: solid white;
    border-radius: 16px;
    border-width: 2px;
    padding: 0.25em 2em 0.25em 2em;
    font-size: 16px;
    margin-top: 1em;
    font-family: 'Poppins', sans-serif;
}

.fancyNameNotLoggedIn { 
    border: solid white;
    border-radius: 16px;
    border-width: 2px;
    padding: 0.25em 2em 0.25em 2em;
    font-size: 16px;
    margin-top: 1em;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
}

.fancyProfilePic {
    border: solid white;
    border-radius: 32px;
    border-width: 2px;
    width: 50px;
    margin-left: -12px;
}

@media only screen and (max-width: 450px) {
    .alignMiniProfile{
        height: 50px;
        margin-left: 10px;

    }
    .fancyNameNotLoggedIn{
        font-size: 13px;
    }
    .fancyProfilePic{
        width: 40px;
    }
    
}