@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.mainContainer {
    background-color: #626263;   
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 1em;
    color: white;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
}

.mostMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.leaflet-touch .leaflet-control-attribution {
    display: none;
}    
    
.mapBtn {
    position: absolute;
    margin-left: 80%;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 99999999;
    border-radius: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: #626263;
    height: 40px;
    border: none;
    text-decoration: none;
    border: solid #626263 1px;
}
.mapToolTip {
    position: absolute;
    margin-left: 10%;
    margin-top: 15px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 99999999;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #626263;
    height:auto;
    text-decoration: none;
    max-width: 55%;
    white-space: initial;
    pointer-events: none;
    
}

.gameType {
    color: #65C8FF;
}

.mapContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-radius: 32px;
    width: 60%;
    margin-left: 1em;
}

.listContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 600px;
    min-height: 100%;
    border: black solid;
    border-radius: 32px;
    margin-right: 70px;
    background-color: #2E2E2E;
}

#listTitle {
    margin: 1em;
}

#joinBtn {
    border-radius: 12px;
    color: white;
    background-color: #626263;
    width: 150px;
    height: 50px;
    margin: 8px;
    border: none;
}

#joinBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

#joinBtn:active {
    background-color: #E8EAEA;
}

#joinBtn:focus {
    background-color: #65C8FF;
}

ul {
    margin: 1em;
}


.btns {
    border: black solid;
    font-size: 1rem;
    min-width: 275px;
    height: 40px;
    border-radius: 32px;
    margin-bottom: 8px;
    background-color: #2E2E2E;
    color: white;
}

.btns:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.btns:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#removeMargin {
    margin: 0;
}


.liftToHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -2em;
    margin-bottom: 1em;
}

.desc {
    font-size: 15px;
}

.interactiveStuffContainer{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.chatContainer {
    max-width:inherit;
    width: 96.5%;
    display: flex;
    justify-content: left;
    margin: 1em;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    margin-left: 8px;
}

.chatbox {
    margin-left: 1em;
    border: solid black;
    background-color: #E8EAEA;
    color: black;
    border-radius: 32px;
    width: 60%;
    height: 200px;
    overflow: scroll;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.chatbox::-webkit-scrollbar {
    display: none;
}

.chatbox p {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-width: 0.1px;
    border-radius: 16px;
}

.msg {
    margin-left: 0px;
    font-size: 14px;
    text-align: left;
}

.secondaryContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.selfMsg {
    margin-right: 0px;
    font-size: 14px;
    text-align: right;
}

.chatInputContainer {
    width: 100%;
    margin-left: 2em;
}

.chatInput {
    display: flex;
    width: 100%;
}

.squadBtn {
    border-radius: 16px;
}

.sendMsgBtn {
    border: black solid;
    border-radius: 32px;
    background-color: #E8EAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.sendMsgBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

.msgIcon {
    height: 70%;
    width: 70%;
}

.actualInput {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
}

form {
    margin-left: 4px;
}

.overBitecode{
    text-align: center;
}

.bitecodeInput {
    margin-bottom: 10px;
}

.killBtns {
    text-align: center;
}

#input {
    width: 250%;
    border-radius: 32px;
    height: 37.5px;
    margin-right: 4px;
    border: solid black;
    border-width: 2px;
    background-color: #E8EAEA;
    padding-left: 8px;
}

#enterBtn {
    border-radius: 16px;
    border-width: 0.1px;
    height: 35px;
    width: 80px;
}

.editDiv {
    display: flex;
    justify-content:end;
    width: 90%;
}

#editBtn {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 16px;
    height: 30px;
    width: 125px;
    white-space: nowrap;
}

#editBtnIcon {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

#editBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#editBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#retBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 128px;
    width: 20px;
    height: 20px;
}

#exitIcon {
    width: 20px;
    height: 20px;
}

#retBtn:hover {
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#retBtn:focus {
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#enterBtn {
    border-radius: 64px;
    outline: black;
    background-color: white;
}

#enterBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.4s;
    background-color: grey;
}
