@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.mainContainer {
    background-color: #626263;   
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 30px;
    padding-bottom: 3.125rem;
    color: white;
    border-radius: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: -3rem;
}

.mostMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: 'poppins';
    padding-top: 65px;
}

.leaflet-touch .leaflet-control-attribution {
    display: none;
}    
    
.mapBtn {
    position: absolute;
    margin-left: 80%;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 99999999;
    border-radius: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: #626263;
    height: 40px;
    border: none;
    text-decoration: none;
    border: solid #626263 1px;
}
.mapToolTip {
    position: absolute;
    margin-left: 10%;
    margin-top: 15px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 99999999;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 10px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: #626263;
    height:auto;
    text-decoration: none;
    max-width: 55%;
    white-space: initial;
    pointer-events: none;
}

.gameType {
    color: #65C8FF;
}

.mapContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    width: 37.56rem;
    height: 28rem;
    margin-right: 0.938rem;
}

.listContainer {
    display: flex;
    flex-direction: column;
    width: 16.5rem;
    height: 28rem;
    min-height: 100%;
    border: black solid;
    border-radius: 32px;
    background-color: #2E2E2E;
}

#listTitle {
    margin: 1.25rem;
    font-weight: bold;
}

#joinBtn {
    border-radius: 12px;
    color: white;
    background-color: #0CC70C;
    width: 247px;
    height: 50px;
    margin: 8px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

#joinBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

#joinBtn:active {
    background-color: #E8EAEA;
}

#joinBtn:focus {
    background-color: #65C8FF;
}

#leaveBtn {
    border-radius: 12px;
    color: white;
    background-color: #df3213;
    width: 247px;
    height: 50px;
    margin: 8px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}


#leaveBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

#leaveBtn:active {
    background-color: #E8EAEA;
}

#leaveBtn:focus {
    background-color: #df3213;
}
ul {
    margin: 1em;
}


.btns {
    border: black solid;
    font-size: 1rem;
    width: 100%;
    height: 2.31rem;
    border-radius: 32px;
    margin-bottom: 8px;
    background-color: #2E2E2E;
    color: white;
}

.btns:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.btns:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



.liftToHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -2em;
    margin-bottom: 1em;
}

.desc {
    font-size: 15px;
}

.interactiveStuffContainer{
    display: flex;
    justify-content: center;
    max-width:100%;
    /*margin: 1em;*/
    margin-bottom: 0.938rem;
    margin-top: 1.875rem;
}

.chatContainer {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 28px;
    height: 200px;
    width: 16.5rem;
}


.chatbox {
    background-color: #E8EAEA;
    color: black;
    border-radius: 32px;
    position: relative;
    height: 11.31rem;
    width: 37.56rem;
    margin-right: 0.938rem;
    border: solid black;
    overflow: scroll;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.chatbox::-webkit-scrollbar {
    display: none;
}

.chatbox p {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-width: 0.1px;
    border-radius: 16px;
    font-size: 12px;
}

.msg {  
    margin-left: 0px;
    font-size: 14px;
    text-align: left;
}

.secondaryContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
 
}

.selfMsg {
    margin-right: 0px;
    font-size: 14px;
    text-align: right;
}

.chatInputContainer {
    width: 100%;
    
    
}

.chatInput {
    display: flex;
    width: 100%;
    justify-content: left;
}

.squadBtn {
    border-radius: 16px;
    width: 10rem;
    height: 2.5rem;
}

#squadTitle{
    margin: 1.25rem;
    font-weight: bold;
}

#squadName{
    width: 10.62rem;
    height:1.56rem;  
    border-radius: 0.313rem;
}

.sendMsgBtn {
    border: black solid;
    border-radius: 32px;
    background-color: #E8EAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 2.2rem;
}

.sendMsgBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

.msgIcon {
    height: 70%;
    width: 70%;
}



.sendMsgBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

.msgIcon {
    height: 70%;
    width: 70%;
}

.actualInput {
    display: flex;
    width: 27rem;
    justify-content: space-between;
}

form {
}

.overBitecode{
    text-align: center;
}

.bitecodeInput {
    margin-bottom: 10px;
}

.killBtns {
    display: flex;
    flex-direction: row;
}

.overBitecode{
    text-align: center;
}


#input{
    border-radius: 32px;
    height: 2.2rem;
    border: solid black;
    border-width: 2px;
    white-space: initial;
    width: 90%;
    
    border: solid black;
    margin-right: 0.438rem;
    font-size: 12px;
    padding-left: 10px;
}


#enterBtn {
    border-radius: 16px;
    border-width: 0.1px;
    height: 35px;
    width: 80px;
}

.editDiv {
    display: flex;
    justify-content:end;
    width: 100%;
}

#editBtn {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 16px;
    height: 30px;
    width: 125px;
    white-space: nowrap;
    
}

#editBtnIcon {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

#editBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#editBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#retBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    border-radius: 128px;
    width: 20px;
    height: 20px;
}

#exitIcon {
    width: 1.5rem;
    height: 1.5rem;
}

#removeMarginTitle {
    font-weight: bold;
    font-size: 3rem;
}

#retBtn:hover {
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#retBtn:focus {
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#enterBtn {
    border-radius: 64px;
    outline: black;
    background-color: white;
}

#enterBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.4s;
    background-color: grey;
}
