.mainContainer {
    background-color: #D3D3D3;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    padding: 1em;
}

.mostMainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mapContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black;
    border-width: 4px;
    border-radius: 32px;
    width: 60%;
    margin-left: 1em;
}

.listContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 600px;
    min-height: 100%;
    border: black solid;
    border-radius: 32px;
    margin-right: 4em;
}

#listTitle {
    margin: 1em;
}

ul {
    margin: 1em;
}

li {

}

.btns {
    border: black solid;
    font-size: 1rem;
    min-width: 200px;
    border-radius: 32px;
    margin-bottom: 0.25em;
}

.btns:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.btns:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#removeMargin {
    margin: 0;
}

.liftToHeader {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -2em;
    margin-bottom: 1em;
}

.desc {
    font-size: 15px;
}

.interactiveStuffContainer{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.chatContainer {
    max-width:inherit;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1em;
    margin-left: 1em;
}

.chatbox {
    margin-left: 1em;
    border: solid black;
    border-radius: 16px;
    width: 100%;
    height: 200px;
    overflow: scroll;
    /* hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.chatbox::-webkit-scrollbar {
    display: none;
}

.chatbox p {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-width: 0.1px;
    border-radius: 16px;
}

.msg {
    margin-left: 0px;
    text-align: left;
}

.secondaryContainer {
    max-width: 100%;
}

.selfMsg {
    margin-right: 0px;
    text-align: right;
}

.chatInputContainer {
    margin-left: 2em;
}

.chatInput {
    display: flex;
    
}

.squadBtn {
    border-radius: 16px;
}

.actualInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    margin-left: 4px;
}

#input {
    width: 485px;
    border-radius: 16px;
    height: 35px;
    border-width: 0.1px;
    margin-right: 4px;
    padding-right: 200px;
}

#enterBtn {
    border-radius: 16px;
    border-width: 0.1px;
    height: 35px;
    width: 80px;
}

.editDiv {
    display: flex;
    justify-content: right;
}

#editBtn {
    border-radius: 16px;
    height: 30px;
    width: 100px;
    margin-right: 5em;
}

#editBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#editBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#retBtn {
    border-radius: 64px;
    border: none;
    outline: none;
    background-color: transparent;
}

#retBtn:hover {
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

#retBtn:focus {
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
    background-color: grey;
}

#enterBtn {
    border-radius: 64px;
    outline: black;
    background-color: white;
}

#enterBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.4s;
    background-color: grey;
}
