.listViewContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2E2E2E;
    border-radius: 28px;
    height: 100%;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: -1em;
}

#biteTitle {
    margin-top: 8px;
    font-size: 14px;
    margin-left: 26px;
    margin-bottom: 0;
}

.playerContainer {
    color: white;
}

.dropdownBtn {

}

.dropdown-menu.show {
    --bs-dropdown-min-width: 2rem;
    width: fit-content;
}

.dropdown-menu {
    white-space: normal;
}

.dropdown-item {
    white-space: pre-wrap;
    width: 33%;
    font-size: 12px;
}

#inputName {
    width: 30%;
    background-color: grey;
    height: 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.playersDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerItem {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    width: 100%;
}

.playerItem p {
    /* 12px for normal members */
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    white-space:nowrap;
    overflow: hidden;
}

.playerItem:hover {
    border: solid black;
    border-width: 0.1px;
    padding: 0.1px;
    border-radius: 32px;
}

.playerItemEdit {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: default;
    background-color: transparent;
    border: solid black;
    border-width: 0.1px;
    border-radius: 32px;
}

.playerItemEdit p {
    /* 12px for normal members */
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    white-space:nowrap;
    overflow: hidden;
}

.killerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playerItemEdit .dropdown-toggle.btn.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 12px;
    width: 100%;
    height: 20px;
    border: none;
    color: white;
}

.squadItem {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.squadItem p {
    margin: 0;
    border: black solid;
    border-width: 0.1px;
    background-color: #626263;
    font-size: 14px;
    width: 50%;
}

.squadItem p:hover {
    box-shadow: 0 0 0 1px black;
}

#crtBtn {
    border-radius: 32px;
    background-color: #626263;
    margin: 0em 1em 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: white;
    height: 40px;
    border: none;
}

#addBtn {
    width: 15px;
    height: 15px;
    border: black solid;
    border-width: 2px;
    border-radius: 128px;
    margin-right: 6px;
}

#bcInput {
    width: 65%;
    margin-left: 10%;
}

#bcGenerator {
    border-radius: 32px;
    border: solid black;
    margin-top: 8px;
    margin-left: 15%;
    height: 50px;
    background-color: transparent;
    border-width: 1px;
    color: white;
    background-color: #626263;
}

.killContainer {
    display: flex;
    flex-direction: column;
    align-items:start;
}

.biteMarker {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 3em;
    margin-left: 2em;
}

#coordinates {
    white-space: nowrap;
    font-size: 12px;
}

#markerLocation {
    font-weight: 700;
}

.biteMarker p {
    margin: 0;
}

#smallBtnImg {
    width: 15px;
    height: 15px;
}

#smallBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 22px;
}

#smallBtn:hover {
    cursor: pointer;
    border: solid black;
    border-width: 0.1px;
    transition: 0.7s;
    border-radius: 32px;
}