@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 60px 350px;
    background-color: #2E2E2E;
    color: black;
}

.element {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
}

.elementHide {
    display: none;
}

a:hover {
    color: white;
}

.element:hover {
    color: white;
}

.logo {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    margin: 0px 0px 0px 8px;
    font-weight: bolder;

}

.marginTop {
    /* margin-top: 1%; */
}

#vs {
    color: #65C8FF;
}

.navLinkContainer {
    display: flex;
    align-items:start;
    justify-content: space-between;
    /* width: 15%; */
    margin-left: -128px;
}

.navContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


.alignLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.innerContainerNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
}

.top-navbar-log {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.top-navbar-main-content{
    margin-top: 15px;
    color:#E8EAEA ;
}

.navContainer-no-auth{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;


}

.navbar-container-no-auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-top: 10px;

}

.top-navbar-log-no-auth{
    padding: 20px;
}

.navigation-no-aut{
    padding: 0px 200px;

}

.logo-main-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 20px;
}

.top-navbar-log-no-auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-left: 0px;
}
.innerContainerNavbar-no-auth{
    padding-right: 20px;
}

.innerContainerNavbar-no-auth{
    padding-right: 20px;
}


@media  only screen and (max-width: 450px)  {
    .logo-main-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo{
        font-size: 14px;
    }
    .navbar-container-no-auth{
        display: none;
    }
    .top-navbar-log{
        display: none;
    }
  
    
}
