@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 60px 350px;
    background-color: #2E2E2E;
    color: black;
}

.element {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
}

.elementHide {
    display: none;
}

a:hover {
    color: white;
}

.element:hover {
    color: white;
}

.logo {
    font-size: 3.125rem;
    font-weight: 1500;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bolder;
    margin: 0;
}

.marginTop {
    /* margin-top: 1%; */
}

#vs {
    color: #65C8FF;
    font-size: 3.125rem;
    font-weight: 1500;
    margin: 0;
    margin-right: 1rem;
    margin-left: 1rem;
}

.navLinkContainer {
    display: flex;
    align-items:start;
    justify-content: space-between;
    /* width: 15%; */
    margin-left: -128px;
}

.navContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


.alignLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.innerContainerNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
}

.top-navbar-log {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    width: 100%;
}

.remUnderline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.top-navbar-main-content{
    margin: 0;
    width: 100%;
    color:#E8EAEA ;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;
}

.navContainer-no-auth{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;


}

.navbar-container-no-auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-top: 10px;

}

.top-navbar-log-no-auth{
    padding: 20px;
}

.navigation-no-aut{
    padding: 0px 200px;

}

.logo-main-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 1.875rem;
}

.top-navbar-log-no-auth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-left: 0px;
}

.innerContainerNavbar-no-auth{
    padding-right: 1.65rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.innerContainerNavbar-no-auth:hover{
    text-decoration: underline;
    text-decoration-color: #65C8FF;
    text-decoration-thickness: 0.125rem;
}

@media only screen and (max-width: 1000px) and (orientation: portrait){
    .navigation-no-aut {
        padding: 0 20px;
    }

    .top-navbar-log {
        font-size: 4vw;
    }

    .logo {
        font-size: 6vw;
    }
    #vs {
        font-size: 6vw;
    }

    .logo-main-content {
        padding: 0;
        margin-top: -9vh;
        margin-bottom: 1.25rem;
    }

    .top-navbar-main-content {
        font-size: 3vw;
        display: flex;
    }

    .navLinkContainer {
        display: none;
    }
}

/*
@media  only screen and (max-width: 450px)  {
    .logo-main-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo{
        font-size: 14px;
    }
    .navbar-container-no-auth{
        display: none;
    }
    .top-navbar-log{
        display: none;
    }
    .top-navbar-main-content{
        margin-top: 85px;
    }
}
*/
