@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #2E2E2E;
    color: black;
}

.element {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
}

.elementHide {
    display: none;
}

a:hover {
    color: white;
}

.element:hover {
    color: white;
}

.logo {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
    margin: 0px 0px 0px 8px;
    font-weight: bolder;

}

.marginTop {
    /* margin-top: 1%; */
}

#vs {
    color: #65C8FF;
}

.navLinkContainer {
    display: flex;
    align-items:start;
    justify-content: space-around;
    width: 15%;
    margin-left: -9%;
    margin-top: 1%;
}

.navContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.alignLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.innerContainerNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -50px;
}
